.h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: .67em 0;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    font-size: 3.125rem;
    margin-bottom: 1rem;
};

.mark{
    color: #4a154b;
};

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
};

.btn{
    &_1{
        font-weight: 700;
        padding: 12px;
        text-transform: uppercase;
        margin: 10px;
        width: 100%;
        background-color: #611f69;
        color: white;
        border-radius: 4px;
        border: none;
    };
    &_2{
        font-weight: 700;
        color: white;
        padding: 5px    ;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        margin: 10px;
        width: 100%;
        border: none;
        border-radius: 4px;
        text-align: center;
    }
};

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    margin: 20px;
}
.google{
    max-width: 45px;
    background-color: white;
    border-radius: 5px;
}

.photos{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    &_1{
    margin: 15px;
    }

};

.pics{
    margin-bottom: 100px;
}

.marco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f4ede4;
    height: 60vh;
}

.video{
    border-radius: 8px;
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -15rem;
};
